<!DOCTYPE html>
<html lang="en">
<head>
  <title>Glowing Text</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="./index.css">
  <script type="text/javascript" src="/index.js"></script>
  <script defer type="text/javascript" src="./index.js"></script>
</head>
<body>
  <div class="wrap">
    <div class="back-button">
      <p class="back-button-home">HOME</p>
      <p>></p>
      <p>GLOWING TEXT</p>
    </div>
    <div id="text-list" class="glowing-text">
      <span class="glowing-text__letter">S</span>
      <span class="glowing-text__letter">O</span>
      <span class="glowing-text__letter">R</span>
      <span class="glowing-text__letter">O</span>
      <span class="glowing-text__letter">G</span>
      <span class="glowing-text__letter">I</span>
    </div>
    <div>
      <button id="speed-slow" class="glowing-text-speed">Slow</button>
      <button id="speed-slow" class="glowing-text-speed">Fast</button>
      <button id="speed-slow" class="glowing-text-speed">Super Fast</button>
    </div>
  </div>
</body>
</html>