<!DOCTYPE html>
<html lang="en">
<head>
  <title>Glowing Text</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/components/glowing-text/index.css">
  <script type="text/javascript" src="/core.js"></script>
  <script defer type="text/javascript" src="/components/glowing-text/index.js"></script>
</head>
<body>
  <div class="wrap">
    <div class="glowing-text">
      <div class="glowing-text-input">
        <span class="glowing-text-input__label">Set Your Text</span>
        <input onkeyup="setGlowingText()" class="glowing-text-input__box" />
        <button type="button" class="glowing-text-input__button">SET!</button>
      </div>
      <div id="text-list" class="glowing-text-list"></div>
      <div class="glowing-text-speed">
        <button id="speed-slow" class="glowing-text-speed__item">Slow</button>
        <button id="speed-slow" class="glowing-text-speed__item">Fast</button>
        <button id="speed-slow" class="glowing-text-speed__item">Super Fast</button>
      </div>
    </div>
  </div>
</body>
</html>