<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hover Effect Card</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="./index.css">
  <script type="text/javascript" src="/index.js"></script>
  <script defer type="text/javascript" src="./index.js"></script>
</head>
<body>
  <div class="wrap">
    <div class="back-button">
      <p class="back-button-home">HOME</p>
      <p>></p>
      <p>HOVER EFFECT CARD</p>
    </div>
    <div class="hover-effect-card">
      <div class="hover-effect-card__circle">
        <p class="hover-effect-card__text hover-effect-card__text--white">WATERMELON SUGAR🍉</p>
      </div>
      <div class="hover-effect-card__circle">
        <p class="hover-effect-card__text hover-effect-card__text--black">WATERMELON SUGAR🍉</p>
      </div>
    </div>
    <img class="hover-effect-card__img" src="../../assets/imgs/rolling-stones.png" />
  </div>
</body>
</html>