<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hover Effect Card</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="./index.css">
  <script type="text/javascript" src="/core.js"></script>
  <script defer type="text/javascript" src="./index.js"></script>
</head>
<body>
  <div class="wrap">
    <div class="hover-effect-card">
      <div class="hover-effect-card__item">
        <h1 class="hover-effect-card__item-title">Sorogi One</h1>
        <p class="hover-effect-card__item-contents">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius optio nisi reprehenderit error culpa amet incidunt architecto numquam ad at dolorem odit maxime vel dolor mollitia sapiente, aperiam, quo quae?</p>
        <button class="hover-effect-card__item-button">Read more</button>
      </div>
    </div>
  </div>
</body>
</html>