body {
  background-color: #f5f5f5;
}

.hover-effect-card {
  width: 100%;
  height: calc(100vh - 78px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.hover-effect-card__item {
  width: 320px;
  padding: 40px;
  background-color: #f5f5f5;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 30px;
  position: relative;
  transition: color 0.5s;
  color: gray;
  overflow: hidden;
}

.hover-effect-card__item:hover {
  color: white;
}

.hover-effect-card__item::before {
  content: '';
  bottom: calc(-100% + 5px);
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  z-index: 1;
}

.hover-effect-card__item-pink::before {
  background-color: pink;
}

.hover-effect-card__item-yellow::before {
  background-color: yellowgreen;
}

.hover-effect-card__item-skyblue::before {
  background-color: skyblue;
}

.hover-effect-card__item:hover::before {
  bottom: 0;
}

.hover-effect-card__item-wrapper {
  position: inherit;
  z-index: 2;
}

.hover-effect-card__item-title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hover-effect-card__item-contents {
  font-size: 1.8rem;
}

.hover-effect-card__item-button {
  color: gray;
  background-color: #fff;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.8rem;
}