<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clip Path Circle</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/components/clip-path-circle/index.css">
  <script type="text/javascript" src="/core.js"></script>
  <script defer type="text/javascript" src="/components/clip-path-circle/index.js"></script>
</head>
<body>
  <div class="wrap">
    <div class="clip-path-circle">
      <div class="clip-path-circle__circle">
        <p class="clip-path-circle__text clip-path-circle__text--white">WATERMELON SUGAR🍉</p>
      </div>
      <div class="clip-path-circle__circle">
        <p class="clip-path-circle__text clip-path-circle__text--black">WATERMELON SUGAR🍉</p>
      </div>
    </div>
    <img class="clip-path-circle__img" src="../../assets/imgs/rolling-stones.png" />
  </div>
</body>
</html>