<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fstvl-Bingo</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/components/fstvl-bingo/index.css">
  <script type="text/javascript" src="/core.js"></script>
  <script defer type="text/javascript" src="/components/fstvl-bingo/index.js"></script>
</head>

<body>
  <div class="wrap">
    <!-- fstvl-life-bingo 내용 복사하기 -->
    <div class="fstvl-bingo">
      <header class="fstvl-bingo-header">
        <img class="fstvl-bingo-header__logo" src="https://ifh.cc/g/8mwRza.png" />
        <p class="fstvl-bingo-header__sub-title">올해 페스티벌 한번을 못 갔지만 방구석에서 해보는</p>
        <p class="fstvl-bingo-header__title">뮤직 페스티벌 빙고</p>
        <div class="fstvl-bingo-header__series-tag">
          <p class="fstvl-bingo-header__series-tag-text">페스티벌 매니아 편</p>
        </div>
      </header>
      <main class="fstvl-bingo-board">
      </main>
      <footer class="fstvl-bingo-footer">
        <div class="fstvl-bingo-footer__series-buttons">
          <button class="fstvl-bingo-footer__series-button">고어 편 바로가기</button>
          <button class="fstvl-bingo-footer__series-button">고인물 편 바로가기</button>
        </div>
        <div class="fstvl-bingo-footer__etc-buttons">
          <button class="fstvl-bingo-footer__submit">제출하기</button>
          <button class="fstvl-bingo-footer__share">공유하기</button>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>