<!DOCTYPE html>
<html lang="en">
<head>
  <title>Animated Eyes Follow Mouse Cursor</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/components/animated-eyes-follow-mouse-cursor/index.css">
  <script type="text/javascript" src="/core.js"></script>
  <script defer type="text/javascript" src="/components/animated-eyes-follow-mouse-cursor/index.js"></script>
</head>
<body>
  <div class="wrap">
    <div class="animated-eyes">
      <div class="animated-eyes__eye animated-eyes__eye-L">
        <div class="animated-eyes__eyeball"></div>
        <div class="animated-eyes__inner-eyeball"></div>
      </div>
      <div class="animated-eyes__eye animated-eyes__eye-R">
        <div class="animated-eyes__eyeball"></div>
        <div class="animated-eyes__inner-eyeball"></div>
      </div>
    </div>
  </div>
</body>
</html>